<div id="buildinfoModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Env</th>
                  <th>App</th>
                  <th>Revision</th>
                  <th>Commit</th>
                  <th>Branch</th>
                  <th>Deployed by</th>
                  <th>Buildname</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="build-info-env"></td>
                  <td id="build-info-app"></td>
                  <td id="build-info-rev"></td>
                  <td id="build-info-commit"></td>
                  <td id="build-info-branch"></td>
                  <td id="build-info-deployed"></td>
                  <td id="build-info-buildname"></td>
                  <td id="build-info-date"></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
